*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo{
  font-size: 32px;
}
.nav-link{
  margin-left: 20px;
}